.container {
  margin: 30px;
  display: flex;
  flex: 1 1 400px;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
}

.title {
  font-size: clamp(20px, 6vw, 32px);
}

.progressBar {
  display: flex;
  flex: 1 1 70%;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;

  &__circle {
    --progress: 0;
    align-self: center;
    display: grid;
    place-items: center;
    width: 50%;
    height: 40%;
    aspect-ratio: 1;
    position: relative;
    background: conic-gradient(
      var(--progress-color) calc(var(--progress) * 1%),
      var(--semi-transp-color) calc(var(--progress) * 1%)
    );
    border-radius: 50%;
    opacity: 1;

    &-animated {
      animation: 2.5s infinite rotation ease;
    }

    &-hidden {
      animation: 0.5s fade-away ease-out;
      opacity: 0;
    }

    &:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: white;
      width: 83%;
      aspect-ratio: 1;
    }
  }

  &__settings {
    display: flex;
    flex: 0.4 0 150px;
    flex-direction: column;
    justify-content: space-around;
  }
}

.settings {
  font-size: 1.5rem;

  &__property {
    display: flex;
    flex: 1 1;
    align-items: center;
    gap: 24px;
  }

  &__input {
    width: 50px;
    height: 2rem;
    text-align: center;
    border-radius: 30px;
    border: var(--dark-border-color) 2px solid;
    font-size: 1rem;
    outline: none;

    &:focus {
      outline: none;
      border-color: var(--progress-color);
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + .toggle {
    background: #005cff;
  }

  &__checkbox:checked + .toggle:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
}

.toggle {
  cursor: pointer;
  width: 58px;
  height: 30px;
  background: #dae6ec;
  display: block;
  border-radius: 100px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
}

@media (max-width: 569px) {
  .container {
    margin: 25px 10px;
  }

  .progressBar {
    gap: 4rem;
  }

  .settings {
    font-size: 1.125rem;
  }

  .progressBar__settings {
    align-self: center;
    max-width: 100%;
    gap: 15px;
  }
}
